a img {
  filter: invert(0.8);
  transition: transform 0.2s ease, filter 0.3s ease;
}
html[data-theme='light'] a img {
  filter: invert(0);
}
a:hover img {
  transform: scale(1.15);
  filter: invert(0.5);
}
